.nav_menu {
    margin: 0;
}
.right-col {
    position: relative;
    float: right;
    width: calc(100vw - 230px);
    height: 100vh;
    z-index: -5;
    & > div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    #background-worldmap {
        background-color: white;
        padding: 10px;
        padding-top: 0;
        margin-top: 127px;
        height: calc(100% - 127px);
        z-index: 1;
    }
    #header-fix {
        background-color: white;
        z-index: 10;
        padding: 10px;
        position: relative;
        height: auto;
        border-top: 1px solid transparent;
    }
    #main-content {
        z-index: 3;
        padding: 10px;
        padding-top: 0;
        height: calc(100% - 127px);
        position: relative;

        #root {
            height: 100%;
            // background-color: rgba($color: #f0f0f0, $alpha: 0.8);
            border-top: 1px solid transparent;
        }

        #fullScreenURL {
            font-size: 18px;
        }
        .page {
            margin-left: 5%;
            max-width: 95%;
            display: none;
            height: 100%;
            background-color: rgba($color: #408080, $alpha: 0.6);
            border-radius: 10px;
            border: 2px solid #d0d0d0;
        }
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header-fix {
    ul {
        position: absolute;
        top: 115px;
        height: 28px;
        width: 28px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 4px;
        position: absolute;
        border: 1px solid #d0d0d0;
        border-radius: 15px;
        background-color: rgba($color: white, $alpha: 0.8);
        font-size: 18px;
        transition: width 1s;
        li {
            a {
                color: gray;
            }
        }
        li + li {
            margin-left: 10px;
        }
        .fa-cog {
            animation: close 0.5s;
        }
        &.active {
            width: auto;
            border-radius: 15px;
            padding-right: 5px;
            transition: width 4s;
            .fa-cog {
                animation: open 0.5s;
            }
        }
        @keyframes open {
            0% {
                transform: rotate(-90deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        @keyframes close {
            0% {
                transform: rotate(90deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
    }
}
// light box
.light-box {
    height: 106px;
    display: flex;

    & div + & div {
        margin-left: 5px;
    }
    .light-item {
        flex: 1 0 0;
        height: 100%;
        background: #eee;
        border: 2px solid #ccc;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        & > span {
            flex: 1 0 0;
            margin: 5px 0;
            font-size: 18px;
        }
        div {
            flex: 4 0 0;
            display: flex;
            width: 100%;
            & > div {
                flex: 1 0 0;
                margin: 2px;
                border-radius: 10px;
                $lightBackgroundColorList: (#8e8e8e, transparent, #d0d0d0);
                @for $i from 1 through length($lightBackgroundColorList) {
                    &:nth-child(#{$i}) {
                        background-color: nth($lightBackgroundColorList, $i);
                    }
                }
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column nowrap;
            }
            & > div:nth-child(1) {
                color: white;
            }
            & > div:nth-child(2) {
                flex: 1 0 0;
                display: flex;
                img {
                    width: 40px;
                }
            }
            &#CID_Gain {
                background-color: #adadad;
            }
            & > span {
                margin: 0;
                font-size: 13px;
            }
        }
    }
    .selector-bar {
        flex: 1.5 0 0;
        border: 2px solid #ccc;
        border-radius: 10px;
        background: #a3d1d1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        div {
            width: 90%;
            display: flex;
            padding: 2px 10px;
            span {
                font-size: 20px;
                flex: 0 0 80px;
            }
            select {
                flex: 1 0 0;
                max-width: calc(100% - 80px);
                text-align: center;
                text-align-last: center;
                padding-left: 5px;
            }
        }
    }
}
// icon box
.icon-box {
    position: absolute;
    display: flex;
    top: 3vh;
    left: 1.5vw;
    .nav-icon {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        li {
            pointer-events: none;
            &.selected {
                pointer-events: visible;
                cursor: pointer;
                img[alt='organization'] {
                    content: url('../images/左側功能 icon/組織圖(紅).png');
                }
                img[alt='cover'] {
                    content: url('../images/左側功能 icon/檢驗涵蓋率(綠).png');
                }
                img[alt='vacation'] {
                    content: url('../images/左側功能 icon/休假停工(紫).png');
                }
                img[alt='target'] {
                    content: url('../images/左側功能 icon/客戶目標規格(藍).png');
                }
            }
        }
        li + li {
            margin-top: 10px;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
}

//  root
#root {
    padding: 5px;
    display: flex;
    & > div:nth-child(1) {
        flex: 0 0 2%;
    }
    & > div:nth-child(2) {
        flex: 5 0 0;
        display: flex;
        flex-flow: column nowrap;
        & > div:nth-child(1) {
            flex: 1 0 0;
            display: flex;
        }
        & > div:nth-child(2) {
            flex: 1 0 0;
            display: flex;
            div {
                flex: 1 0 0;
            }
        }
    }
    & > div:nth-child(3) {
        flex: 3 0 0;
        display: flex;
        flex-flow: column nowrap;
        & > div {
            flex: 1 0 0;
            background-color: rgba($color: #fff, $alpha: 0.7);
            border-radius: 10px;
            border: 2px solid #d0d0d0;
            margin: 5px;
        }
    }
    .news-block {
        display: flex;
        flex-flow: column nowrap;
        padding: 5px;
        .news-header,
        .news-footer {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 0 10px;
        }
        .news-content {
            flex: 1 0 0;
            .swiper {
                width: 430px;
                height: 200px;
                box-shadow: 5px 5px 12px #d0d0d0;
                background-color: white;
                border: 1px solid #f0f0f0;
                border-radius: 5px;
                .swiper-slide {
                    display: flex;
                    flex-flow: column nowrap;
                    padding: 0 5px;
                    div:nth-child(1) {
                        font-size: 26px;
                        color: steelblue;
                        font-weight: 700;
                        border-bottom: 3px solid #f0f0f0;
                    }
                    div:nth-child(2) {
                        padding-top: 5px;
                        height: calc(100% - 100px);
                        img {
                            float: left;
                            margin-right: 10px;
                        }
                        div {
                            text-indent: 12px;
                        }
                    }
                    div:nth-child(3) {
                        font-size: 18px;
                        text-align: end;
                        color: darkolivegreen;
                    }
                }
                .swiper-pagination-bullet {
                    width: 20px;
                    height: 20px;
                    color: white;
                }
            }
        }
        .news-header {
            justify-content: space-between;
            h1 {
                font-size: 24px;
                font-weight: bolder;
                margin: 0;
            }
        }
        .news-footer {
            justify-content: flex-end;
        }
        a {
            font-size: 16px;
            text-decoration: underline;
        }
    }
    .word-cloud-block {
        display: flex;
        flex-flow: column nowrap;
        padding: 5px;
        .word-cloud-header {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 0 10px;
        }
        .word-cloud-content {
            flex: 1 0 0;
        }
        .word-cloud-header {
            justify-content: space-between;
            h1 {
                font-size: 24px;
                font-weight: bolder;
                margin: 0;
            }
        }
    }
}

// page overall
#page-overall {
    display: none;
    height: 100%;
    background-color: rgba($color: #408080, $alpha: 0.6);
    border-radius: 10px;
    padding: 10px;
    & > div {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-color: rgba($color: #fff, $alpha: 0.7);
        border: 1px solid gray;
        align-items: center;
        div {
            flex: 1 0 30%;
            height: 45%;
            margin: 5px;
        }
    }
}
// page query
#page-query {
    display: none;
    height: 100%;
    background-color: rgba($color: #408080, $alpha: 0.6);
    border-radius: 10px;
    padding: 5px;
    & > div {
        width: 100%;
        height: 100%;
        display: flex;
        & > div {
            margin: 5px;
        }
        & > div:nth-child(1) {
            width: 250px;
            display: flex;
            visibility: hidden;
            flex-flow: column nowrap;
            font-size: 16px;
            color: black;
            padding-top: 10px;
            &.animation {
                visibility: visible;
                animation: moveIn 1.5s linear;
                @keyframes moveIn {
                    0% {
                        opacity: 0;
                        transform: translateY(-100%);
                    }
                    75% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }
            }
            span {
                margin: 2px 0;
            }
            input[type='date'] {
                padding-left: 10px;
            }
            select {
                padding: 2px;
                padding-left: 10px;
            }
            .input-date-box {
                display: flex;
                flex-flow: column nowrap;
                & > div {
                    display: flex;
                    justify-content: space-between;
                    margin: 2px 0;
                }
            }
            .button-box {
                margin: 20px auto;

                button {
                    border: none;
                    outline: none;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-weight: 600;
                }
                button:nth-child(1) {
                    background-color: #eac100;
                    &:active {
                        background-color: #ffdc35;
                    }
                }
                button:nth-child(2) {
                    background-color: #01b468;
                    &:active {
                        background-color: #02df82;
                    }
                }
            }
        }
        & > div:nth-child(2) {
            flex: 1 0 0;
            display: flex;
            flex-flow: column nowrap;
            .result-title {
                display: flex;
                align-items: center;
                h1 {
                    margin: 0;
                    color: black;
                    font-weight: 500;
                    letter-spacing: 5px;
                }
                i {
                    cursor: pointer;
                    margin-left: 5px;
                    font-size: 28px;
                    &:hover {
                        color: #f0f0f0;
                    }
                }
            }
            .result-table {
                background-color: white;
                height: 100%;
                max-width: calc(100vw - 320px);
                overflow: auto;
                border: 2px solid #d0d0d0;
                border-radius: 10px;
                & > table {
                    td,
                    th {
                        border: 1px solid #d0d0d0;
                        padding: 5px 10px;
                    }
                    th {
                        font-size: 18px;
                        font-weight: 600;
                        background-color: #01987a;
                        color: white;
                    }
                    thead tr th {
                        position: sticky;
                        top: 0; /* 列首永遠固定於上 */
                    }
                    td:nth-child(1),
                    tr th:nth-child(1) {
                        position: sticky;
                        left: -1px; /* 首行永遠固定於左 */
                        z-index: 1;
                    }
                    tr th:nth-child(1) {
                        z-index: 2;
                    }
                    td:nth-child(1),
                    td {
                        &.even {
                            background-color: #f3f3f3;
                            color: #01987a;
                        }
                        &.odd {
                            background-color: white;
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    height: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #f3f3f3;
                    border-radius: 2em;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #01987a;
                    border-radius: 2em;
                }
                &::-webkit-scrollbar-corner {
                    background-color: #f3f3f3;
                    border-radius: 0 0 2em 0;
                }
            }
        }
    }
}

// page opponents
#page-opponents {
    background-color: transparent !important;
    border: none !important;
    & > div {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10px;
        & > div {
            margin: 10px;
        }
        & > div:nth-child(1) {
            background-color: rgba($color: #d0d0d0, $alpha: 0.4);
            border: 2px solid #d0d0d0;
            border-radius: 10px;
            padding: 10px;
            overflow-y: auto;
            width: 25%;
            & > ul {
                font-size: 24px;
                color: #006466;
                font-weight: 600;
                li {
                    padding: 5px 10px;
                    cursor: pointer;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:hover {
                        border-radius: 25px;
                        background-color: #006466;
                        color: white;
                        text-overflow: clip;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background-color: #a0a0a0;
                border-radius: 2em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #d0d0d0;
                border-radius: 2em;
            }
        }
        & > div:nth-child(2) {
            flex: 1 0 0;
        }
        & > div:nth-child(3) {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 20%;
            overflow: hidden;
            position: relative;
            .information-title {
                position: absolute;
                font-size: 48px;
                color: #006466;
                font-weight: 700;
                white-space: nowrap;
                text-shadow: 0.05em 0.05em 0em #d0d0d0;
                transform: scale(1.2) translateY(0%);
                &.animation {
                    transform: translateX(100%);
                    animation: product-name-container 7s linear infinite;
                }
            }
            .title-header {
                width: 100%;
                height: 50px;
            }
            @keyframes product-name-container {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
            ul {
                width: 80%;
                font-size: 20px;
                color: gray;
                background-color: white;
                border: 2px solid #d0d0d0;
                border-radius: 10px;
                padding: 30px 10px 10px;
                text-align: center;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                overflow-y: auto;
                li {
                    cursor: pointer;
                    &:hover {
                        border-bottom: 1px solid #ccc;
                    }
                }
                li + li {
                    margin-top: 10px;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #a0a0a0;
                    border-radius: 2em;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #d0d0d0;
                    border-radius: 2em;
                }
            }
        }
    }
}

// page organization
#page-organization {
    padding: 5px 10px;
    display: flex;
    flex-flow: column nowrap;
    .page-header {
        flex: 0 0 50px;
        color: #006466;
        font-size: 32px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 10px;
    }
    .page-content {
        flex: 1 0 0;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
